<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36}:%L - %msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <!-- <Logger name="org.springframework.beans.factory" level="DEBUG"/> -->
    <Logger name="mx.com.axity.poc" level="TRACE" />
    <Logger name="mx.com.axity.poc" level="TRACE" />
    <Logger name="org.springframework.jdbc" level="DEBUG" />
    <Logger name="org.springframework.jdbc.datasource.init" level="WARN" />
    <Logger name="org.springframework.transaction" level="DEBUG" />
    <Root level="WARN">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>