<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

  <context:annotation-config />

  <bean id="controller" class="mx.com.axity.poc.controller.Controller" />

  <bean id="service" class="mx.com.axity.poc.service.impl.ServiceImpl" />

  <bean id="dataDAO" class="mx.com.axity.poc.dao.impl.DataDAOImpl" />

  <bean name="myData" class="mx.com.axity.poc.to.Data">
    <property name="id" value="1" />
    <property name="name" value="Test1" />
  </bean>

  <bean name="otraData,data2" class="mx.com.axity.poc.to.Data">
    <property name="id" value="2" />
    <property name="name" value="Test2" />
  </bean>

</beans>